.jar
java-middle-tier/lib/
.quasar
.DS_Store
.thumbs.db
.gradle
node_modules
/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
package-lock.json

#DHF stuff
dhf/
.java-version
ml-backend/gradle.properties
ml-backend/.project
ml-backend/.settings/


build/
nohup.out

#java stuff
java-middle-tier/src/main/resources/dhf
java-middle-tier/src/main/resources/static
java-middle-tier/bin/
java-middle-tier/.classpath
java-middle-tier/.project
java-middle-tier/.settings/
java-middle-tier/src/test/resources/application.properties
java-middle-tier/lib/
ml-backend/.classpath

#windows stuff
gradle/
java-middle-tier/gradle/wrapper/gradle-wrapper.properties
java-middle-tier/gradle
java-middle-tier/.gradle

#gren stuff
.grenrc.yml
CHANGELOG.md

#Docker stuff
docker/.env
docker/jar/
docker/data/
docker/volumes/
