.quasar
.DS_Store
.thumbs.db
.gradle
node_modules
/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
package-lock.json

#DHF stuff
.java-version
dhf/gradle-*.properties
dhf/gradle.properties
dhf/src/
dhf/marklogic-datahub-5.0.2.war
dhf/.tmp
dhf/build/
dhf/data/
dhf/entities/
dhf/flows/
dhf/step-definitions/

