jos.sh
.jar
java-middle-tier/lib/
.quasar
.DS_Store
.thumbs.db
.gradle
node_modules
/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*
quasar.conf.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
package-lock.json
src/store/store-flag.d.ts

#DHF stuff
dhf/
.java-version
ml-backend/gradle.properties
ml-backend/.project
ml-backend/.settings/

build/
nohup.out

#java stuff
java-middle-tier/src/main/resources/dhf
java-middle-tier/src/main/resources/static
java-middle-tier/bin/
java-middle-tier/.classpath
java-middle-tier/.project
java-middle-tier/.settings/
java-middle-tier/src/test/resources/application.properties
java-middle-tier/lib/
ml-backend/.classpath
java-middle-tier/application.properties
java-middle-tier/src/main/resources/version.txt
.classpath
.project
.settings

#windows stuff
java-middle-tier/.gradle
.tmp

#gren stuff
.grenrc.yml
CHANGELOG.md

#Docker stuff
docker/.env
docker/jar/
docker/data/
docker/volumes/

#Examples
Examples/Advanced/src/main/ml-modules/root/custom-modules/pipes/
Examples/Advanced/src/main/ml-modules/services/vppBackendServices.sjs

Examples/Customer360/src/main/ml-modules/root/custom-modules/pipes/
Examples/Customer360/src/main/ml-modules/services/vppBackendServices.sjs
Examples/Customer360/.classpath
Examples/Customer360/.settings/org.eclipse.buildship.core.prefs

Examples/Advanced/gradle-local.properties
Examples/Advanced/.classpath
Examples/Advanced/.project
Examples/Advanced/.settings/
Examples/Advanced/.pipes/
Examples/Customer360/.pipes/
*.war
*.jar

#Jekyll
.asset-cache/
.bundle/
.jekyll-metadata
_site/

ml-backend/gradle/
ml-backend/gradlew
ml-backend/gradlew.bat
