<configuration>

<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
    <level value="WARN" />
</logger>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

    <logger name="com.marklogic.pipes.ui.BackendModules.BackendModulesAppRunner" level="INFO" additivity="false">
      <appender-ref ref="STDOUT" />
    </logger>

<!--  <logger name="com.marklogic" level="INFO" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->

<!-- <logger name="org.springframework" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->

<!-- <logger name="org.apache" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->
<!--  -->
<!--  <logger name="com.netflix" level="ERROR" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->

  <logger name="com.marklogic.client.ext.modulesloader.impl.AssetFileLoader" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>


<!--  <logger name="com.marklogic.client.ext.batch.DefaultBatchHandler" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->
<!--  -->
<!--    <logger name="com.marklogic.mgmt.ManageClient" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->
<!--  -->
<!--  <logger name="com.marklogic.appdeployer.impl.SimpleAppDeployer" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->

  <logger name="com.marklogic.client.impl.ResourceExtensionsImpl" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>



<!--  <logger name="com.marklogic.client.impl.DatabaseClientImpl" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->


<!--  <logger name="com.marklogic.pipes.ui.Proxy" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->
<!--  -->
<!--  <logger name="org.springframework.cloud.netflix.archaius.ArchaiusAutoConfiguration" level="WARN" additivity="false">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--  </logger>-->

  <logger name="com.marklogic.appdeployer.command.modules.DeleteModulesCommand" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>


</configuration>
